/**
 * Styles
 */
#lesson {
}

#editor {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New;
  resize: vertical;
}

#world-wrapper {
  border: 1px solid lightgray;
  background-color: black;
}

[data-hidden="1"] {
  visibility: hidden;
}

.darkmode {
  background-color: rgba(36, 36, 36, 1);
  color: rgba(216, 216, 216, 1);
}

.o-01 {
  opacity: 0.01;
}
