/**
 * Styles
 */
#lesson {
}

#editor {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New;
  resize: vertical;
}

#world-wrapper {
  border: 1px solid lightgray;
  background-color: black;
}

[data-hidden="1"] {
  visibility: hidden;
}
